body {
    margin: 0 auto;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 50px;
    width: 400px;
    font-weight: 600;
}
.header img {
    width: 150px;
    margin: 0%;
}
section.top-page {
    background: url('../images/bg.jpg');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}
.titre-principal{
    position: relative;
    padding: 20px 50px;
}
.h1{
    color:#5a8100;
    font-size:  100px;
    text-align: center;
    font-weight: 100;
    width: 60%;
    background-color:#ffffffdf;
}
section.top-page{
    background: url(inondation-planete.jpg);
    background-size: cover;
    height: 80vh;
    padding: 25px;
}
.onglets{
    display: flex;
    background-color:#5a8100;
}
.buttons{
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background-color: black;

}