body{
    color: #5a8100;
}
/* header */
.page img{
    width: 150px;
    margin-left: 45%;
}
.page{
    background: url(a-propos-image.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 80vh;
    padding: 20px;
    margin-bottom: 10px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: #cbd4c0;
}
.onglets{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}
nav .onglets a{
    margin-right: 20px;
    cursor: pointer;
}
nav .buttons button{
    padding: 13px 20px ;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background-color: #5a8100;
    color: white;
    border-radius: 15px;
}
h1{
    padding: 20px;
    margin: 200px;
    text-align: center;
    font-size: 40px;
    width: 60%;
    background-color:#ffffffdf;
    color: #5a8100;
}
/* fin header */
/* corps de la page */
.but-asso{
    margin: 20px;
    padding: 20px;
}

.raison-etre{
    font-size: 40px;
    position: relative;
    text-align: justify;
}
.raison-etre::before{
    content: "";
    position: absolute;
    background-color: #5a8100;
    width: 50px;
    height: 4px;
    bottom: 0;
}
.mission{
    font-size: 20px;
}
.action-planete-grid{
    display: grid;
    min-height: 40vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(0, 300px);
}
.action-grid1{
    background-image: url(solidarité-1.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

.action-grid3{
    background-image: url(solidarité-3.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/2;
}
/*fin section 1*/
/*section 2*/
.impact-asso{
    display: flex;
    justify-content: space-evenly;
    margin: 60px;
    font-size: 20px;
    font-weight: 800;
}
.engagements{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*fin section 2*/
/*section 3  */
.actions-items{
    font-size: 50px;
}
.details{
    font-weight: 600;
    width: 200px;
    text-align: center;
}
.chiffres-cles{
    background-image: url(chiffres-);
}
/* fin section 3 */
/* pied de page */
.utilité{
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}
footer{
    background-color: #cbd4c0;
    padding: 25px 100px;
}
.colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copyright{
    text-align: center;
}
/* fin pied de page */
